@import "../../../../assets/styles/variables";
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/data-form';

.order {
  padding: 86px 0 107px;
  &-title {
    @include head-lora-32;
  }
  &-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &-details {
    width: 422px;
    &-info {
      padding: 40px;
      background-color: #E7F1E8;
      border-radius: 5px;
      margin-bottom: 14px;
      &-title {
        font-family: "Lora", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 26px;
        color: $green-text-color;
        margin-bottom: 20px;
      }
      &-item {
        display: flex;
        align-items: center;
        color: $gray-text-color;
        margin-bottom: 10px;
        &-text {
          margin-right: 12px;
          font-size: 16px;
        }
        &-data {
          font-size: 20px;
          font-family:  'Montserrat', sans-serif;
          font-weight: 500;
        }
        &:last-child {
          margin-bottom: 0;
          .order-details-info-item-text,
          .order-details-info-item-data {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
          }
        }
      }
    }
    .button {
      width: 100%;
    }
  }
}

.order {
  &-popup {
    padding: 100px 70px 219px;
    position: relative;
    text-align: center;
    color: $green-text-color;
    background-image: url("/assets/images/page/popup-img.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 10px;
    &-close {
      position: absolute;
      cursor: pointer;
      top: 30px;
      right: 30px;
    }
    &-title {
      @include head-lora-32;
      margin-bottom: 40px;
    }
    &-content {
      p {
        font-size: 20px;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
