<section class="order">
  <div class="container">
    <h1 class="order-title">
      Оформление вашего заказа
    </h1>
    <div class="order-info">
      <div class="data-form" [formGroup]="orderForm">
        <div class="data-form-block">
          <p class="data-form-label">Выберите способ доставки</p>
          <div class="data-form-types">
            <div class="data-form-type-item" [class.active]="deliveryType === deliveryTypes.delivery"
                 (click)="changeDeliveryType(deliveryTypes.delivery)">Курьером
            </div>
            <div class="data-form-type-item" [class.active]="deliveryType === deliveryTypes.self"
                 (click)="changeDeliveryType(deliveryTypes.self)">Самовывоз
            </div>
          </div>
        </div>

        <div class="data-form-block">
          <p class="data-form-label">Заполните личные данные</p>
          <div class="data-form-inputs personal-data-inputs">
            <input type="text" class="input" placeholder="Фамилия"
                   [ngStyle]="{'border-color': lastName?.invalid && (lastName?.dirty || lastName?.touched) ? 'red' : ''}"
                   formControlName="lastName">
            <input type="text" class="input" placeholder="Имя"
                   [ngStyle]="{'border-color': firstName?.invalid && (firstName?.dirty || firstName?.touched) ? 'red' : ''}"
                   formControlName="firstName">
            <input type="text" class="input" placeholder="Отчество"
                   [ngStyle]="{'border-color': fatherName?.invalid && (fatherName?.dirty || fatherName?.touched) ? 'red' : ''}"
                   formControlName="fatherName">
            <input type="text" class="input" placeholder="Телефон"
                   [ngStyle]="{'border-color': phone?.invalid && (phone?.dirty || phone?.touched) ? 'red' : ''}"
                   formControlName="phone">
            <input type="text" class="input" placeholder="E-mail"
                   [ngStyle]="{'border-color': email?.invalid && (email?.dirty || email?.touched) ? 'red' : ''}"
                   formControlName="email">
          </div>
        </div>

        <div class="data-form-block" *ngIf="deliveryType !== deliveryTypes.self">
          <p class="data-form-label">Заполните адрес доставки</p>
          <div class="data-form-inputs address-inputs">
            <input type="text" class="input street" placeholder="Улица"
                   [ngStyle]="{'border-color': street?.invalid && (street?.dirty || street?.touched) ? 'red' : ''}"
                   formControlName="street">
            <input type="text" class="input house" placeholder="№ дома"
                   [ngStyle]="{'border-color': house?.invalid && (house?.dirty || house?.touched) ? 'red' : ''}"
                   formControlName="house">
            <input type="text" class="input entrance" placeholder="Подъезд"
                   [ngStyle]="{'border-color': entrance?.invalid && (entrance?.dirty || entrance?.touched) ? 'red' : ''}"
                   formControlName="entrance">
            <input type="text" class="input apartment" placeholder="№ квартиры"
                   [ngStyle]="{'border-color': apartment?.invalid && (apartment?.dirty || apartment?.touched) ? 'red' : ''}"
                   formControlName="apartment">
          </div>
        </div>

        <div class="data-form-block">
          <p class="data-form-label">Выберите способ оплаты</p>
          <div class="data-form-radio">
            <div class="data-form-radio-block">
              <input type="radio" id="card" value="{{paymentType.cardOnline}}" formControlName="paymentType">
              <label for="card">Оплата банковской картой в интернет-магазине</label>
            </div>
            <div class="data-form-radio-block">
              <input type="radio" id="cashless" value="{{paymentType.cardToCourier}}" formControlName="paymentType">
              <label for="cashless">Безналичный расчет при получении</label>
            </div>
            <div class="data-form-radio-block">
              <input type="radio" id="cash" value="{{paymentType.cashToCourier}}" formControlName="paymentType">
              <label for="cash">Наличный расчет при получении</label>
            </div>
          </div>
        </div>

        <div class="data-form-block">
          <p class="data-form-label">Комментарий к заказу (необязательно)</p>
          <div class="data-form-inputs">
            <textarea placeholder="Оставьте свой комментарий..."
                      [ngStyle]="{'border-color': comment?.invalid && (comment?.dirty || comment?.touched) ? 'red' : ''}"
                      cols="30" rows="5" class="input"
                      formControlName="comment"></textarea>
          </div>
        </div>

      </div>
      <div class="order-details">
        <div class="order-details-info">
          <p class="order-details-info-title">
            Ваш заказ
          </p>
          <div class="order-details-info-item">
            <p class="order-details-info-item-text">Товаров:</p>
            <p class="order-details-info-item-data">{{ totalCount }}</p>
          </div>
          <div class="order-details-info-item">
            <p class="order-details-info-item-text">Общая стоимость:</p>
            <p class="order-details-info-item-data">{{ totalAmount }} BYN</p>
          </div>
          <div class="order-details-info-item">
            <p class="order-details-info-item-text">Стоимость доставки:</p>
            <p class="order-details-info-item-data">10 BYN</p>
          </div>
          <div class="order-details-info-item">
            <p class="order-details-info-item-text">Итоговая стоимость:</p>
            <p class="order-details-info-item-data">{{ totalAmount + 10 }} BYN</p>
          </div>
        </div>
        <button class="button" (click)="createOrder()">Подтвердить заказ</button>
      </div>
    </div>
  </div>
</section>

<ng-template #popup>
  <div class="order-popup">
    <div class="order-popup-close" (click)="closePopup()">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#A8ABA7" stroke-linecap="round"/>
        <line x1="13.9238" y1="2.62971" x2="1.90301" y2="14.6505" stroke="#A8ABA7" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="order-popup-title">
      Благодарим за заказ!
    </div>
    <div class="order-popup-content">
      <p>Ваш заказ оформлен.</p>
      <p>Вся информация о заказе была выслана вам на почту.</p>
      <p *ngIf="deliveryType === deliveryTypes.delivery">Курьер свяжется с вами за два часа до доставки товара.</p>
    </div>
  </div>
</ng-template>
